{% extends "base.html" %}


{% block title %}
404 - Page Not Found
{% endblock %}


{% block content %}
<div class="error-page">


    <div class="error-card">



        <div class="error-icon-wrapper">

            <i
                class="fa-solid fa-circle-xmark"
            ></i>

        </div>


        <div class="error-tag">

            <i
                class="fa-solid fa-triangle-exclamation"
            ></i>

            PAGE NOT FOUND

        </div>



        <h1 class="error-number">

            404

        </h1>




        <h2 class="error-title">

            Oops! Page Not Found

        </h2>


        <p class="error-description">

            Sorry! The page you are looking for doesn't exist,
            may have been moved, or the URL may be incorrect.

            <br>

            Don't worry — you can safely return to the
            Hostel Portal.

        </p>


        <div class="error-actions">


            <a
                href="{{ url_for('home') }}"
                class="error-btn home-btn"
            >

                <i
                    class="fa-solid fa-house"
                ></i>

                Back to Home

            </a>



            <button
                onclick="history.back()"
                class="error-btn back-btn"
            >

                <i
                    class="fa-solid fa-arrow-left"
                ></i>

                Go Back

            </button>


        </div>


        <div class="error-divider">

            <span>
                Quick Help
            </span>

        </div>


        <div class="error-help">


            <div class="help-item">

                <i
                    class="fa-solid fa-house"
                ></i>

                Return Home

            </div>


            <div class="help-item">

                <i
                    class="fa-solid fa-arrow-left"
                ></i>

                Previous Page

            </div>


            <div class="help-item">

                <i
                    class="fa-solid fa-circle-question"
                ></i>

                Check URL

            </div>


        </div>


    </div>

</div>


{% endblock %}
