{% extends "base.html" %}


{% block title %}
500 - Internal Server Error
{% endblock %}


{% block content %}
<div class="server-error-page">


    <div class="server-error-card">


        <div class="server-icon-wrapper">

            <i class="fa-solid fa-triangle-exclamation"></i>

        </div>

        <div class="server-error-tag">

            <i class="fa-solid fa-server"></i>

            SERVER ERROR

        </div>

        <h1 class="server-error-number">

            500

        </h1>

        <h2 class="server-error-title">

            Something Went Wrong

        </h2>

        <p class="server-error-description">

            Something unexpected happened while processing
            your request.

            <br>

            Our server couldn't complete the operation.
            Please try again in a moment.

        </p>

        <div class="server-status">

            <span class="status-dot"></span>

            Temporary Server Issue

        </div>

        <div class="server-error-actions">


            <a href="{{ url_for('home') }}" class="server-error-btn server-home-btn">

                <i class="fa-solid fa-house"></i>

                Go to Home

            </a>



            <button onclick="history.back()" class="server-error-btn server-back-btn">

                <i class="fa-solid fa-arrow-left"></i>

                Go Back

            </button>


        </div>


        <div class="server-divider">

            <span>
                Quick Help
            </span>

        </div>

        <div class="server-help">


            <div class="server-help-item">

                <i class="fa-solid fa-rotate"></i>

                Try Again

            </div>


            <div class="server-help-item">

                <i class="fa-solid fa-house"></i>

                Return Home

            </div>


            <div class="server-help-item">

                <i class="fa-solid fa-clock"></i>

                Try Later

            </div>


        </div>


    </div>

</div>


{% endblock %}
